body {
    background-color: #f2f2f2;
}

#mainContainer {
    margin: 0 auto;
}

#actionBar {
    position: fixed;
    background-color: #757172;
    height: 60px;
    margin: 0 auto;
    top: 0px;
    z-index: 100;
}

#topLogo {
    background-image: url("/images/logo_medium.png");
    position: relative;
    width: 290px;
    height: 50px;
    top: 5px;
    float: left;
    left: 26px;
}

#topLogo:hover {
    cursor: pointer;
}

#avatar {
    position: relative;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: red;
    top: 5px;
    right: 370px;
    float: right;
}

#avatarHover {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    background-size: 50px 50px;
    top: 5px;
    right: 320px;
    float: right;
    z-index: 400;
    opacity: 0;
}

#userName {
    position: relative;
    height: 30px;
    bottom: -20px;
    right: 210px;
    float: right;
    color: black;
    font-size: 16px;
    color: #d3d3d3;
}

#userName:hover {
    cursor: pointer;
}

#searchBar {
    position: relative;
    float: right;
    right: -140px;
    height: 30px;
    top: 10px;
}

#loginError {
    display: none;
}

#tilesContainer {
    top: 80px;
}

#ocTitlu {
    margin-left: 300px;
}

.bookTile {
    background-color: #eee;
    border-radius: 15px;
    border-style: solid;
    border-color: #808080;
    border-radius: 15px;
    float: left;
    min-width: 290px;
    max-width: 400px;
    margin: 10px;
}

.coverPhoto {
    position: relative;
    top: 20px;
    left: 45px;
}

.breakWord {
    word-wrap: break-word;
}

.bookTitle {
    position: relative;
    font-weight: bold;
    font-size: 17px;
    top: 30px;
    left: 10px;
    right: 10px;
    text-align: left;
}

.bookTile:hover {
    cursor: pointer;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
}

.bookContainer {
    margin-top: 140px;
}

#bookTitleC {
    /*position:absolute;*/
    margin-left: 50px;
    /*margin-top: 50px;*/
    font-size: 30px;
}

.bookAuthorC {
    /*position:absolute;*/
    margin-left: 10px;
    margin-top: 50px;
}

.infoRow {
    padding-left:20px;
}

.bookAuthor {
    float: right;
    color: orange;
    position: relative;
    top: 40px;
    right: 27px;
    text-align: right;
    font-size: 11px;
    max-width: 160px;
}

.ultimeleOferte {
    position: relative;
    top: 60px;
    text-align: left;
    left: 20px;
    font-size: 14px;
}

.bookOfferOwner {
    position: relative;
    top: 65px;
    text-align: left;
    left: 30px;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.bookOfferPrice {
    float: right;
    position: relative;
    top: 67px;
    right: 15px;
    font-size: 17px;
    font-weight: bold;
    display: inline;
    color: red;
}

.offerPrice {
    color: red;
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}

#backButton {
    margin-top: 80px;
    margin-left: 200px;
    background-image: url("/images/back_b.png");
    height:56px;
    width: 54px;
    background-repeat:no-repeat;
}

#backButton:hover {
    cursor: pointer;
    background-image: url("/images/back_b_hover.png");
    height:56px;
    width: 54px;
    background-repeat:no-repeat;
}

#bookCover {
    margin-left: 200px;
    margin-top: 20px;
}

#offers {
    margin-left: 230px;
    margin-top: 40px;
    max-width: 700px;
}

.offerTitle {
    font-weight: bold;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    float: left;
}

.offerTile:hover {
    cursor: pointer;
    background-color: #E8E8E8; color: black;
}

.evenOfferRow {
    background-color: #808080; color: black;
}

.oddOfferRow {
    background-color: #CC9999; color: black;
}

#registerMessage {
    display: none;
}

#reviewsContainer {
    /*display: none;*/
    /*float: right;*/
    /*margin-right: 130px;*/
    /*width: 400px;*/
    /*height:500px;*/
    /*max-height: 760px;*/
    /*overflow-y: scroll;*/
}

#reviewsContainer {
    display: none;
    float: right;
    margin-right: 130px;
    width: 400px;
    height:500px;
    max-height: 760px;
    clear: both;
}

#reviewsContainer .viewport {
    width: 400px;
    height:500px;
    max-height: 760px;
    overflow: hidden;
    position: relative;
}

#reviewsContainer .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
}

#reviewsContainer .thumb .end,
#reviewsContainer .thumb {
    background-color: #003D5D;
}

#reviewsContainer .scrollbar {
    position: relative;
    float: right;
    width: 15px;
}

#reviewsContainer .track {
    background-color: #D8EEFD;
    height: 100%;
    width:13px;
    position: relative;
    padding: 0 1px;
}

#reviewsContainer .thumb {
    height: 20px;
    width: 13px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#reviewsContainer .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 13px;
}

#reviewsContainer .disable {
    display: none;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.reviewTile {
    float:left;
    margin-top: 10px;
    background-color: #808080;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
}

.reviewTile:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

.reviewContent {
    margin-top: 10px;
    float:left;
}

.reviewAuthor {
    font-weight: bold;
}

#contextualMenu {
    display: none;
    float: right;
    position: fixed;
    top: 62px;
    right: 280px;
    width: 130px;
    height: 47px;
    background-color: #757172;
}

#contextualMenu .contextOption {
    color: #d3d3d3;
    margin-left: 5px;
    margin-top: 2px;
}

#contextualMenu .contextOption:hover {
    cursor: pointer;
    font-weight: bold;
}

.contextualMenuSeparator {
    width: 90px;
    height: 2px;
    background-color: #d3d3d3;
    margin-left: 10px;
}

#profileSettingsContainer {
    margin-top: 200px;
}

.displayInline {
    display: inline-block;
}

.profileSettingsTable {
    margin: 0px auto;
}

.profileSettingsTable .profileLabel {
    width: 180px;
}

.profileSettingsTable .profileItemValue {
    width: 220px;
}

.profileSettingsTable .profileItemEdit {
    width: 70px;
}

.profileSettingsTable .profileItemEdit:hover {
    cursor: pointer;
}

.profileSettingsTable .profileItemEdit span:hover {
    text-decoration: underline;
}

.profileItemValue .controls {
    float: left;
    margin-left: -180px;
}

.profileItemEdit {
    vertical-align: bottom;
}

.passChange {
    display: none;
}

.profileSettingsSubmit {
    height: 120px;
}

.profileSettingsSubmit button {
    float: right;
    margin-right: 30px;
}

.leftImportant {
    margin-left: 0px !important;
}
#profileUpdateFeedback, #profileUpdateFeedback1 {
    display: none;
    width: 700px;
}