body {
    /*background-color: #808080 !important;*/
}

#mainContainer {
    margin: 0 auto;
}

#actionBar {
    position: fixed;
    background-color: #ff7f50;
    border-radius: 30px;
    height: 40px;
    margin: 0 auto;
    bottom: 10px;
    z-index: 100;
}

#avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background-color: red;
    bottom: 70px;
    left: 26px;
}

#userName {
    position: relative;
    height: 30px;
    bottom: 90px;
    left: 132px;
    text-align: left;
    color: beige;
}

#loginError {
    display: none;
}

#tilesContainer {
    top: 40px;
}

#ocTitlu {
    margin-left: 300px;
}

.bookTile {
    background-color: #eee;
    border-radius: 15px;
    border-style: solid;
    border-color: #808080;
    border-radius: 15px;
    float: left;
    min-width: 290px;
    max-width: 400px;
    margin: 10px;
}

.coverPhoto {
    position: relative;
    top: 20px;
    left: 45px;
}

.breakWord {
    word-wrap: break-word;
}

.bookTitle {
    position: relative;
    font-weight: bold;
    font-size: 17px;
    top: 30px;
    left: 10px;
    right: 10px;
    text-align: left;
}

.bookTile:hover {
    cursor: pointer;
    border-style: solid;
    border-color: orange;
    border-radius: 15px;
}

.bookContainer {
    /*display: inline-block;*/
}

#bookTitleC {
    /*position:absolute;*/
    margin-left: 50px;
    /*margin-top: 50px;*/
    font-size: 30px;
}

.bookAuthorC {
    /*position:absolute;*/
    margin-left: 10px;
    margin-top: 50px;
}

.infoRow {
    padding-left:20px;
}

.bookAuthor {
    float: right;
    color: orange;
    position: relative;
    top: 40px;
    right: 27px;
    text-align: right;
    font-size: 11px;
    max-width: 160px;
}

.ultimeleOferte {
    position: relative;
    top: 60px;
    text-align: left;
    left: 20px;
    font-size: 14px;
}

.bookOfferOwner {
    position: relative;
    top: 65px;
    text-align: left;
    left: 30px;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.bookOfferPrice {
    float: right;
    position: relative;
    top: 67px;
    right: 15px;
    font-size: 17px;
    font-weight: bold;
    display: inline;
    color: red;
}

.offerPrice {
    color: red;
    font-weight: bold;
    font-size: 25px;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
}

#backButton {
    margin-top: 80px;
    margin-left: 200px;
    background-image: url("/images/back_b.png");
    height:56px;
    width: 54px;
    background-repeat:no-repeat;
}

#backButton:hover {
    cursor: pointer;
    background-image: url("/images/back_b_hover.png");
    height:56px;
    width: 54px;
    background-repeat:no-repeat;
}

#bookCover {
    margin-left: 200px;
    margin-top: 20px;
}

#offers {
    margin-left: 230px;
    margin-top: 40px;
    max-width: 700px;
}

.offerTitle {
    font-weight: bold;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    float: left;
}

.offerTile:hover {
    cursor: pointer;
    background-color: #E8E8E8; color: black;
}

.evenOfferRow {
    background-color: #808080; color: black;
}

.oddOfferRow {
    background-color: #CC9999; color: black;
}

#registerMessage {
    display: none;
}

#reviewsContainer {
    /*display: none;*/
    /*float: right;*/
    /*margin-right: 130px;*/
    /*width: 400px;*/
    /*height:500px;*/
    /*max-height: 760px;*/
    /*overflow-y: scroll;*/
}

#reviewsContainer {
    display: none;
    float: right;
    margin-right: 130px;
    width: 400px;
    height:500px;
    max-height: 760px;
    clear: both;
}

#reviewsContainer .viewport {
    width: 400px;
    height:500px;
    max-height: 760px;
    overflow: hidden;
    position: relative;
}

#reviewsContainer .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
}

#reviewsContainer .thumb .end,
#reviewsContainer .thumb {
    background-color: #003D5D;
}

#reviewsContainer .scrollbar {
    position: relative;
    float: right;
    width: 15px;
}

#reviewsContainer .track {
    background-color: #D8EEFD;
    height: 100%;
    width:13px;
    position: relative;
    padding: 0 1px;
}

#reviewsContainer .thumb {
    height: 20px;
    width: 13px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#reviewsContainer .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 13px;
}

#reviewsContainer .disable {
    display: none;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.reviewTile {
    float:left;
    margin-top: 10px;
    background-color: #808080;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
}

.reviewTile:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

.reviewContent {
    margin-top: 10px;
    float:left;
}

.reviewAuthor {
    font-weight: bold;
}