<input type="hidden" name="currentOfferReviews">
<div id="reviewsContainer">
    <table>
            <tr>
                <td>
                    <div class="viewport">
                        <div class="overview"></div>
                    </div>
                </td>
                <td>
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                </td>
            </tr>
        </table>
</div>
<div id="backButton"></div>
<div class="bookContainer">
    <table>
        <tr>
            <td>
                <div id="bookCover">
                {{#book.cover.url}}
                <img src="{{ book.cover.url }}">
                {{/book.cover.url}}
                {{^book.cover.url}}
                <img src="/images/default_book_cover.png">
                {{/book.cover.url}}
                </div>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div id="bookTitleC">
                                {{book.title}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 30px;" class="infoRow">
                            Autori:
                            {{#book.authors}}
                               <span class="bookAuthorC">
                                 {{name}}
                               </span>
                            {{/book.authors}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px" class="infoRow">
                            Categorii:
                            {{#book.categories}}
                                {{name}}
                            {{/book.categories}}
                        </td>
                    </tr>
                    <tr>
                        <td  class="infoRow">
                            Anul aparitiei: {{book.launchYear}}
                        </td>
                    </tr>
                    {{#book.pagesNo}}
                    <tr>
                        <td  class="infoRow">
                            Numar pagini: {{book.pagesNo}}
                        </td>
                    </tr>
                    {{/book.pagesNo}}
                    {{#book.isbn}}
                    <tr>
                        <td  class="infoRow">
                            ISBN: {{book.isbn}}
                        </td>
                    </tr>
                    {{/book.isbn}}
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 50px">
                <div id="ocTitlu">Oferte curente</div>
            </td>
        </tr>
        <tr>
            <td colspan="23">
                <table id="offers">
                    {{#book.bookOffers}}
                    <tr class="offerTile">
                        <td>
                            <input type="hidden" name="offerId" value="{{_id}}">
                            <table>
                                <tr>
                                    <td>
                                        <span class="offerTitle">
                                            {{owner}}
                                        </span>
                                        <span class="offerPrice">
                                            {{price}} {{currency}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b style="margin-left:15px;">Editura:</b>
                                        <span class="editura"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b style="margin-left:15px;">Disponibilitate:</b>
                                        <span style="margin-top: 10px; ">
                                            {{#available}}
                                            in stoc
                                            {{/available}}
                                            {{^available}}
                                            nu exista in stoc
                                            {{/available}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b style="margin-left: 15px; margin-top: 20px; float:left;">
                                            Descriere:
                                        </b>
                                        <span style="margin-top: 10px; margin-left:7px; float:left;">
                                            {{description}}
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {{/book.bookOffers}}
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="actionBar">
    <div id="avatar"></div>
    <div id="userName"></div>
</div>
