<div id="actionBar">
    <div id="topLogo"></div>
    <div id="avatar"></div>
    <div id="avatarHover"></div>
    <div id="userName"></div>
    <div id="searchBar">
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </div>
</div>
<div id="contextualMenu">
    <div class="contextOption">Setarile profilului</div>
    <div class="contextualMenuSeparator"></div>
    <div class="contextOption">Iesire</div>
</div>
<div id="content">
</div>