<div id="loginContainer">
    <form id="loginForm" class="form-horizontal">
        <div class="heading text-center">
            <h4 class="form-heading" style="color:white;" >Sign In</h4>
        </div><br><br>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input type="text" class="input-medium" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-briefcase"></i></span>
                    <input type="password" class="input-medium" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" style="color:white;">
                    <input type="checkbox"> Remember me
                </label><br>
                <button type="submit" class="btn btn-success">Sign In</button>
                <button type="button" class="btn">Register</button>
            </div>
        </div>

        <div id="loginError" class="alert alert-error text-center">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Access Denied!</strong> Please provide valid authorization.
        </div>
    </form>
</div>