<div id="registerContainer">
    <form id="registerForm" class="form-horizontal">
        <div class="heading">
            <h4 class="form-heading text-center" style="color:white;">Sign Up</h4>
        </div><br><br>
        <div class="control-group">
            <label class="control-label" for="inputUser" style="color:white;">Username</label>
            <div class="controls">
                <input type="text" id="inputUser" placeholder="E.g. ashwinhegde">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword" style="color:white;">Password</label>
            <div class="controls">
                <input type="password" id="inputPassword" placeholder="Min. 8 Characters">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword2" style="color:white;">Retype password</label>
            <div class="controls">
                <input type="password" id="inputPassword2" placeholder="Min. 8 Characters">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName" style="color:white;">Name</label>
            <div class="controls">
                <input type="text" id="inputName" placeholder="E.g. Ashwin">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSex" style="color:white;">Sex</label>
            <div class="controls">
                <select class="span1" id="inputSex">
                    <option>m</option>
                    <option>f</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail" style="color:white;">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="E.g. ashwinhegde@gmail.com">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAddress" style="color:white;">Address</label>
            <div class="controls">
                <input type="text" id="inputAddress" placeholder="E.g. adresa">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone" style="color:white;">Phone number</label>
            <div class="controls">
                <input type="text" id="inputPhone" placeholder="E.g. 0754620177">
            </div>
        </div><br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Sign Up</button>
                <button type="button" class="btn">Cancel</button>
            </div>
        </div>
        <div class="alert" id="registerMessage">
            <button type="button" class="close">×</button>
            <div class="messageContainer">
            </div>
        </div>
    </form>
</div>